{% extends 'base.html' %}
{% block title %}Search Result{% endblock title %}

{% block body %}
{% load static %}

<div class="container mt-4">
  <form method="get" class="mb-4 m-2">
    <div class="input-group">
      {{ form.query }}
      <div class="input-group-append">
        <button type="submit" class="btn btn-danger">Search</button>
      </div>
    </div>
  </form>

  <div class="container mt-3">
    <h3 class="bold border border-white p-2 mb-2 border-opacity-75 bg-dark text-white"><i class='bx bx-category'></i> Search Result</h3>
  </div>

  {% if results %}
  <div class="container mb-3">
    <div class="row row-cols-1 row-cols-md-4 g-4">
      {% for item in results %}
      <div class="col-6">
        <div class="card h-100">
          <a class="text-red" href="/moviesview/{{ item.m_slug }}">
            <img src="/media/{{ item.image }}" class="card-img-top" alt="{{ item.name }}">
            <div class="card-body">
              <h5 class="card-title">{{ item.name|slice:65 }}</h5>
            </div>
          </a>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  {% else %}
  <p>No results found.</p>
  {% endif %}
</div>
{% endblock body %}
